body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr;

gap: 30px;

padding: 50px;
box-sizing: border-box;
}

div {
    background: rgb(232, 232, 227);
}

tr:nth-child(odd) {
    background-color: #a5a5a5;
  }